body {
    font-family: Arial, sans-serif;
    background-color: #A27B5C;
    margin: 0;
    padding: 0;
}

.container {
    width: 50%;
    margin: 50px auto;
    padding: 20px;
    background: #DCD7C9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

h1, h2 {
    text-align: center;
    color: #2C3930;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

label {
    font-weight: bold;
    color: #2C3930;
}

input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: start;
    font-size: larger;
}

button {
    background-color: #2C3930;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #3F4F44;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
}

th {
    background-color: #A27B5C;
    color: white;
}
